<!doctype html>
<html lang="ru" data-bs-theme='light'>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel = "icon" type = "image/png" href ="{% static 'bar/img/notes.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <style type="text/css">
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        .footer {
            margin-top: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex  col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" style="pointer-events: none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 align-items-center">
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Главная</a></li>
                {% if user.is_superuser %}
                    <li><a href="{% url 'data' %}" class="nav-link px-2 link-dark">Записи пользователей</a></li>
                    <li><a href="{% url 'admin:index' %}" class="nav-link px-2 link-dark">Администрирование</a></li>
                {% else %}
                    <li><a href="{% url 'notes' %}" class="nav-link px-2 link-dark">Заметки</a></li>
                <li><a href="{% url 'basket' %}" class="nav-link px-2 link-dark">Корзина</a></li>
                {% endif %}

            {% endif %}

          </ul>

          <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
              <a href="{% url 'profile' %}"><button type="button" class="btn btn-outline-dark me-2">Профиль</button></a>
              <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger me-2">Выйти</button></a>
            {% else %}
                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-warning me-2">Войти</button></a>
                <a href="{% url 'register' %}"><button type="button" class="btn btn-warning">Зарегистрироваться</button></a>
            {% endif %}
          </div>
        </header>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="container footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <p class="mb-3 mb-md-0 text-muted">
                  © 2023 Шушин Дмитрий, ТПУ
                </p>
            </div>
            <div class=" justify-content-end d-flex">
                <p class="mb-3 mb-md-0 text-muted">Контакты:</p>
                <ul class="nav list-unstyled">
                    {% if settings.vk %}
                    <li class="ms-3">
                    <a href={{settings.vk}} target="_blank">
                        <img src="{% static 'footer/vk.png' %}" alt="VK" style="width:30px;height:30px;">
                    </a>
                    </li>
                    {% endif %}
                    {% if settings.telegram %}
                    <li class="ms-3">
                        <a href={{settings.telegram}} target="_blank">
                            <img src="{% static 'footer/telegram.png' %}" alt="TELEGRAM" style="width:30px;height:30px;">
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.instagram %}
                        <li class="ms-3">
                            <a href={{settings.instagram}} target="_blank">
                                <img src="{% static 'footer/instagram.png' %}" alt="INSTAGRAM" style="width:30px;height:30px;">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>