{% extends 'main/base.html'%}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Удаленные заметки:</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert" id="message">
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if notes %}
        {% for el in notes %}
        <div class="alert border border-dark" style="background-color: {{el.color}}; ">
            <h3 class="mb-0 text-dark">{{ el.title|upper }}</h3>
            <pre class="mb-auto text-dark"><span class="inner-pre" style="font-family:'Helvetica';
             font-size: 18px">{{ el.text|truncatechars:50 }}</span></pre>
            <p class="mb-auto text-dark">Удалено: {{ el.date_deleted }}</p>
            <form method="POST" action="{% url 'note-rtr' el.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success m-1">Восстановить</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>Корзина пуста</p>
    {% endif %}
    <br>
{% endblock %}
