{% extends 'main/base.html'%}
{% block title %}
    База записей
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
            <h1>Все записи в приложении:</h1>
            {% if notes %}
                {% for el in notes %}
                <div class="alert alert-dark">
                    <h3 class="mb-0 text-dark">{{ el.title|upper }} ({{el.user.username}})</h3>
                    <pre class="mb-auto text-dark"><span class="inner-pre" style="font-family:'Helvetica'; font-size: 18px">{{ el.text|truncatechars:50 }}</span></pre>
                </div>
                {% endfor %}
            {% else %}
                <p>В приложении нет заметок</p>
            {% endif %}
    {% else %}
            <h3>У вас недостаточно прав для просмотра этой страницы</h3>
    {% endif %}
{% endblock %}