{% extends 'main/base.html'%}
{% block title %}
    База записей
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
            <h1>Все записи в приложении:</h1>
            {% if tasks %}
                {% for el in tasks %}
                <div class="alert alert-dark">
                    <h3 class="mb-0 text-dark">{{ el.title|upper }} ({{el.user.username}})</h3>
                    <pre class="mb-auto text-dark"><span class="inner-pre" style="font-family:'Helvetica'; font-size: 18px">{{ el.task|truncatechars:50 }}</span></pre>
                    <a href="{% url 'task-upd' el.id %}" class="btn btn-outline-dark m-1">
                        Редактировать
                    </a>
                    <a href="{% url 'task-dlt' el.id %}" class="btn btn-outline-danger m-1">
                        Удалить
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <p>В приложении нет заметок</p>
            {% endif %}
    {% else %}
            <h3>У вас недостаточно прав для просмотра этой страницы</h3>
    {% endif %}
{% endblock %}