{% extends 'main/base.html'%}
{% load static %}

{% block title %}Тема: {{topic}}{% endblock %}

{% block content %}
    <a href="{% url 'create_note' %}" class="btn btn-success btn-lg my-2" role="button" aria-pressed="true">
            <img src='{% static "create/img/add.png" %}' alt="+" class="pb-1" style='width: 20px'/> Новая заметка
    </a><br>
    <h2>Заметки по теме {{topic}}:</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert" id="message">
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if notes %}
        {% for el in notes %}
        <div class="alert border border-dark " style="background-color: {{el.color.hex}}; ">
            <div class="">
            <h3 class="mb-0 text-dark">{{ el.title|upper }}</h3>
            <pre class="mb-auto text-dark"><span class="inner-pre" style="font-family:'Helvetica';
             font-size: 18px">{{ el.text|truncatechars:100 }}</span></pre>
            </div>
            <div class="d-flex">
                <a href="{% url 'note-upd' el.id %}" class="btn btn-outline-dark m-1">
                    Редактировать
                </a>
                <a href="{% url 'note-dwnld' pk=el.id extension='txt' %}" class="btn btn-outline-dark m-1">
                    Скачать TXT
                </a>
                <a href="{% url 'note-dwnld' pk=el.id extension='pdf' %}" class="btn btn-outline-dark m-1">
                    Скачать PDF
                </a>
                <form method="POST" action="{% url 'note-dlt' el.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger m-1">Удалить</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="font-weight-bold">У вас нет заметок по этой теме</p>
    {% endif %}
{% endblock %}