{% extends 'main/base.html'%}
{% load static %}

{% block title %}Заметки{% endblock %}

{% block content %}
    <a href="{% url 'create_topic' %}" class="btn btn-primary btn-lg my-2" role="button" aria-pressed="true">
            <img src = '{% static "create/img/add.png" %}' class="pb-1" style='width: 20px'/> Добавить тему
    </a><br>

    <h1>Ваши темы:</h1>
    {% if topics %}
      <div class="row">
        {% for el in topics %}
          <div class="card mb-4 box-shadow col-md-4">
            <div class="card-body">
              <p class="card-text text-center">{{ el.title|upper }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
        <p>Вы ещё не создавали темы</p>
    {% endif %}
    <br>

    <a href="{% url 'create_note' %}" class="btn btn-success btn-lg my-2" role="button" aria-pressed="true">
            <img src = '{% static "create/img/add.png" %}' class="pb-1" style='width: 20px'/> Добавить запись
    </a><br>
    <h2>Заметки без темы:</h2>
    {% if notes %}
        {% for el in notes %}
        <div class="alert border border-dark " style="background-color: {{el.color}}; ">
            <div class="">
            <h3 class="mb-0 text-dark">{{ el.title|upper }}</h3>
            <pre class="mb-auto text-dark"><span class="inner-pre" style="font-family:'Helvetica';
             font-size: 18px">{{ el.text|truncatechars:100 }}</span></pre>
            </div>
            <div class="d-flex">
                <a href="{% url 'note-upd' el.id %}" class="btn btn-outline-dark m-1">
                    Редактировать
                </a>
                <form method="POST" action="{% url 'note-dlt' el.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger m-1">Удалить</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>У вас нет заметок без темы</p>
    {% endif %}
{% endblock %}